{% extends 'core/base.html' %}

{% load static %}

{% block main %}
<main>
    <div class="container-fluid px-4">
        <div style="height: 2vh"></div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ListadoInsumos' %}">Todos los insumos</a></li>
            <li class="breadcrumb-item active">Todos las marcas</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">                   
                <h1 class="mt-0 px-3">Marcas</h1>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Nombre</th>                                
                                <th>Descripcion</th>                                                                
                                <th>Editar</th> 
                                <th>Eliminar</th>                                          
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>                                
                                <th>Nombre</th>                                
                                <th>Descripcion</th>                                
                                <th>Editar</th> 
                                <th>Eliminar</th> 
                            </tr>
                        </tfoot>
                        <tbody>
                            {%if marcas %}
                                {%for marca in marcas %}
                                    <tr>
                                        <td> {{marca.mar_nombre}} </td>
                                        <td> {{marca.mar_descripcion}} </td>                                        
                                        <td> <a href="{% url 'ModificarMarca' marca.pk%}">Editar</a></td>
                                        <td> <a href="{% url 'BorrarMarca' marca.pk%}">Eliminar</a></td>
                                    </tr>
                                {% endfor %}                                        
                            {% endif %}    
                        </tbody>
                    </table>                                      
                </div>                 
            </div>
        </div>
        <div class="container-fluid px-1">
            <div class="d-flex align-items-left justify-content-between small">                
                <div>  
                    <a class="btn btn-primary" href="{% url 'NuevoMarca' %}" role="button">Agregar Marca</a>                     
                </div>
            </div>
        </div>
        <div style="height: 2vh"></div>
    </div>
</main>
    {% endblock main %}
