{% extends 'accounts/base.html' %}

{% load static %}

{% block title %} Editar Rol de usuario {% endblock title %} 

{% block main %}  
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Edición</h3></div>
                                     <div class="d-flex justify-content-center">
                                        <div class="d-flex flex-column">
                                            <p class="fs-5 fw-bold"> {{msg_register}} </p>

                                            <form action="" method="POST">
                                                {% csrf_token %}

                                                <div class="form-floating mb-3">                                                    
                                                {{form.as_p}}
                                                <input type="submit" value="Actualizar" name="actualizar">
                                                </div>                                                
                                            </form>


                                        </div>  
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{% url 'Inicio' %}">Inicio</a></div>
                                        <div class="small"><a href="{% url 'ListadoCuentas' %}">Ver todos los usuarios</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
{% endblock main %}
