{% extends 'core/base.html' %}

{% load static %}

{% block main %}
<main>   
    <div class="bg"
                 style="background-image: url('/media/fondo/fondo1.png');  
                        background-size: 100% auto;
                        background-position: center;
                        background-repeat: no-repeat;">
            <div class="container-fluid px-4">                   
                        <div style="height: 4vh"> </div>                
                                    
              
                      
                <div class="d-flex flex-column justify-content-center align-items-center h-10 text-center text-white">                    
                    <h1 class="display-2" style="font-weight: bold; color:black;"> Hola!! Bienvenido a mi sitio </h1>
                    <h2 class="display-10" style="font-weight: bold; color:blue;"> <b>Soy Facundo Collado...</b></h2>            
       
                </div>        
                    <p class="masthead-subheading font-weight-light text-center "></p>      
                    <p class="masthead-subheading font-weight-light text-center ">Me dedico hace bastante tiempo al area de IT, siempre en roles de Analista, ya sea Funcional o QA.. Con la necesidad de actualizarme respecto a las tecnologias que ofrece el mercado, decidí emprender con Python.</p>
                    <p class="masthead-subheading font-weight-light text-center "></p>
                    <p class="masthead-subheading font-weight-light text-center ">Este primer <strong>SITIO</strong>, no es un Blog. Sino, mas bien, un lugar que permite administrar los servicios que realiza
                       un salon de Manicuría, como asi poder obtener estadisticas Por supuesto, el <strong>SITIO</strong> irá evolucacionando con el tiempo.</p>
                    <p class="masthead-subheading font-weight-light text-center ">.</p>
                    <p class="masthead-subheading font-weight-light text-center "></p>    
                    <p class="masthead-subheading font-weight-light text-center "></p>    
                    <p class="masthead-subheading font-weight-light text-center "></p>    
                    <p class="masthead-subheading font-weight-light text-center "></p>    
                    <p class="masthead-subheading font-weight-light text-center "></p>    
                    <p class="masthead-subheading font-weight-light text-center "></p>    
                    <p class="masthead-subheading font-weight-light text-center "></p>    
                    <p class="masthead-subheading font-weight-light text-center "></p>    
                    <p class="masthead-subheading font-weight-light text-center "></p> 
                    <p class="masthead-subheading font-weight-light text-center "></p>    
                    <p class="masthead-subheading font-weight-light text-center ">.</p>     
                    <div style="height: 4vh">                
                    </div>   
            </div>  
            <div style="height: 46vh">                
            </div>      
    </div>        
</main>
    {% endblock main %}