{% extends 'core/base.html' %}

{% load static %}

{% block main %}    
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tablero</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Principales métricas</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Servicios disponibles: {{tarjeta_servicio_cantidad}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between"> 
                                        
                                        {% if request.user.is_authenticated %} 
                                            {% for grupo in request.user.groups.all %}
                                                {% if  grupo.name == "Administrador"%}
                                                    <a class="small text-white stretched-link" href="{% url 'ListadoServicios' %}">Ver Servicios</a>
                                                {%endif%}
                                            {% endfor %} 
                                        {%endif%}
                                        
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                {%if tarjeta_gasto_total %}                                                            
                                    <div class="{{tarjeta_gasto_color}}">
                                {% else %}
                                    <div class="card bg-primary text-white mb-4"> 
                                {% endif %}   
                                    <div class="card-body">Gastos realizados ${{tarjeta_gasto_total}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">

                                        {% if request.user.is_authenticated %} 
                                            {% for grupo in request.user.groups.all %}
                                                {% if  grupo.name == "Administrador"%}
                                                <a class="small text-white stretched-link" href="{% url 'ListadoGastos' %}">Ver Gastos</a>
                                                {%endif%}
                                            {% endfor %} 
                                        {%endif%}
                                        
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Atenciones realizadas: {{tarjeta_atenciones_realizadas}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'ListadoAtenciones' %}">Ver Atenciones</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                {%if tarjeta_insumo_cantidad %}                                                            
                                    <div class="{{tarjeta_insumo_color}}">
                                {% else %}
                                    <div class="card bg-primary text-white mb-4"> 
                                {% endif %}                                   
                                    <div class="card-body">Insumos con stock minimo: {{tarjeta_insumo_cantidad}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">

                                        {% if request.user.is_authenticated %} 
                                            {% for grupo in request.user.groups.all %}
                                                {% if  grupo.name == "Administrador"%}
                                                <a class="small text-white stretched-link" href="{% url 'ListadoInsumos' %}">Ver Insumos</a>   
                                                {%endif%}
                                            {% endfor %} 
                                        {%endif%}
                                                                            
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Ejemplo simulación de Servicios realizados
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Ejemplo simulación de Gastos mensuales
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </main>               
    {% endblock main %}
