{% extends 'core/base.html' %}

{% load static %}

{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Servicios</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="#">Buscar</a></li>
            <li class="breadcrumb-item active">Resultado</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <p class="mb-0">
                    Estamos listando todos los 
                    <code>servicios</code>
                   a través de vistas                   
                </p>
                <p></p>     

                <div> 
                    <a href="{% url 'NuevoServicio' %}">Crear un nuevo servicio</a>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Duracion</th>  
                                <th>Editar</th> 
                                <th>Eliminar</th>                                          
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Duracion</th>
                                <th>Editar</th> 
                                <th>Eliminar</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {%if servicios %}
                                {%for servicio in servicios %}
                                    <tr>
                                        <td> {{servicio.ser_nombre}} </td>
                                        <td> {{servicio.ser_descripcion}}</td>
                                        <td> {{servicio.ser_duracion}}</td>
                                        <td> <a href="{% url 'ModificarServicio' servicio.pk%}">Editar</a></td>
                                        <td> <a href="{% url 'BorrarServicio' servicio.pk%}">Eliminar</a></td>
                                    </tr>
                                {% endfor %}                                        
                            {% endif %}    
                        </tbody>
                    </table>                                      
                </div>
            </div>
        </div>
        <div style="height: 100vh"></div>
        <div class="card mb-4"><div class="card-body">Sitio en construcción</div></div>
    </div>
</main>
    {% endblock main %}
